<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a href="#" class="nav-link active">Your Feed</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Global Feed</a>
            </li>
          </ul>
        </div>

        <div class="article-preview" id="article_1">
          <div class="article-meta">
            <a href="#"><img src="placeholder.jpg" /></a>
            <div class="info">
              <a href="#" class="author">Author Name</a>
              <span class="date">Date</span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> <span>0</span>
            </button>
          </div>
          <a href="#" class="preview-link">
            <h1>Article Title</h1>
            <p>Article description...</p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">Tag</li>
            </ul>
          </a>
        </div>

        <div class="article-preview">
          No articles are here... yet. Maybe follow some authors?
        </div>

        <ul class="pagination">
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="#" class="tag-pill tag-default">Tag Name</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
